pip install flask==3.0.0
pip install DASH
pip install dash-core-components==0.22.1
pip install dash-html-components==0.10.0
pip install dash-renderer==0.12.1
pip install decorator==4.3.0
pip install numpy
pip install pandas
pip install pandas-datareader==0.6.0
pip install python-dateutil==2.8.2
pip install requests==2.28.1
pip install gunicorn==20.0.4
pip install itsdangerous==1.1.0
pip install Jinja2==2.11.2
pip install MarkupSafe==1.1.1
pip install numpy==1.19.1
pip install pandas==1.1.0
pip install plotly==4.9.0
pip install pytz==2020.1
pip install seaborn
pip install dash plotly
pip install dash_table
pip install watchdog
pip install dash pandas dash_table pdfkit
pip install --upgrade --force-reinstall weasyprint
pip install dash dash-bootstrap-components pandas dash-table dash-leaflet
pip install polyfill
pip install plotly dash
pip install dash dash-bootstrap-components pandas plotly
pip install gdal
pip install geopandas
pip install dash dash-html-components gunicorn
pip install plotly dash pandas reportlab
pip install dash --upgrade
pip install dash-table --upgrade
pip install dash dash-html-components gunicorn
pip install dash pandas plotly rasterio
pip install plotly --upgrade
python.exe -m pip install --upgrade pip